section {
    padding: 100px 0;
    color: #fff;
    font-size: 50px;
    text-align: center;
}
.part_1 {
    background: #393;
}
.part_2 {
    background: #FF0097;
}
.part_3 {
    background: #F09609;
}